<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
    <title>메일 인증 확인</title>
    <style>
        .text-container {
            margin-top: 15px;
            font-size: 20px;
        }

        .div-login-button {
            color: white;
            background-color: #FFA500;
            margin-top: 250px;
            width: 100%;
            height: 40px;
            font-size: 30px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="text-container">
        <span>아직 인증되지 않은 이메일입니다.</span>
        <br>
        <span>인증 후 로그인 해 주세요.</span>
    </div>

    <div class="div-login-button">
        로그인 하러가기
    </div>
</body>
</html>