.board-container {
    width: 100%;
    height: 180px;
    border-bottom: 1px solid gray;
    margin-top: 10px;
}

.img-container {
    width: 150px;
    height: 150px;
    float: left;
}

.text-container {
    width: 150px;
    height: 70%;
    float: left;
    margin-left: 20px;
}

.board-text {
    font-size: 18px;
}

.board-sub-text {
    font-size: 12px;
}

.reply-img-container {
    float: left;
    margin-top: 40px;
    margin-right: 5px;
}

.reply-text-container {
    float: left;
    margin-top: 37px;
    margin-right: 15px;
}

.interest-img-container {
    float: left;
    margin-top: 40px;
    margin-right: 5px;
}

.interest-text-container {
    float: left;
    margin-top: 37px;
}

.add-board {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    bottom: 160px;
    right: 20px;
    background-color: #FFA500;
    text-align: center;
}

.add-board-text {
    font-size: 35px;
    color: white;
    margin-top: 1px;
}

.footer {
    position: fixed;
    border-top: 1px solid gray;
    width: 100%;
    height: 100px;
    bottom: 0px;
    background-color: white;
}

.home-container {
    float: left;
    margin-top: 8px;
    margin-left: 90px;
}

.home-text {
    margin-left: 14px;
}

.my-page-container {
    float: left;
    margin-top: 8px;
    margin-left: 60px;
}

.my-page-img {
    margin-left: 12px;
}

.done-box {
    background-color: black;
    width: 65px;
    height: 20px;
    float: left;
    margin-right: 10px;
    color: gray;
}

.white-div {
    width: 100%;
    height: 110px;
}